<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'posts'}}Home{{/link-to}}</li>
      <li>{{#link-to 'notifications'}}Notifications{{/link-to}}</li>
      <li>{{#link-to 'messages'}}Messages{{/link-to}}</li>
      <li>{{#link-to 'discover'}}Discover{{/link-to}}</li>
    </ul>
  </nav>
  {{outlet}}
</div>
