<form>
  <div class="form-group">
    <label >Tweet About Somethin'</label>
    {{input id="tweet" class="form-control" value=tweet}}
    <br>
    <button class="btn btn-warning" {{action 'save'}}>Tweet!</button>
  </div>
</form>

<ul>
  {{#each}}
    <li>{{tweet}}</li>
  {{/each}}
</ul>
